@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0;
    }

    .logo-container img {
        max-width: 300px; /* Tamaño del logo en móviles */
    }

    .navbar {
        flex-direction: row;
        gap: 20px;
        margin-top: 10px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .mission-vision, .service-list, .footer-content {
        flex-direction: column;
        gap: 20px;
    }
}

/* Animaciones */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}