/* Sección Hero */
.BannerBlog {
    background: linear-gradient(135deg, #F5F5F5, #F5F5F5); 

    padding: 10px;
    border-radius: 15px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin-top: 1px;
}

.BannerBlog h1 {
    font-size: 2.5rem;
    color: #1E2A47;
    margin-bottom: 10px;
}

.BannerBlog p {
    font-size: 1.2rem;
    color: #1E2A47;
    margin-bottom: 20px;
}

.discover-button {
    background-color: #1E2A47;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 1rem; /* Asegura consistencia en el texto */
}

.discover-button:hover {
    background-color: #304D80;
    color: white; /* Evita cambios de color en el hover */

}

.discover-button-link {
    text-decoration: none; /* Elimina el subrayado del enlace */
    display: inline-block; /* Permite que el enlace contenga el botón correctamente */
}
