.footer {
    margin-top: 50px;
    width: 100%;
    background-color: #1E2A47;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contact-info h3,
.social-media h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.contact-info p,
.social-media a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 0.9rem;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: #A2B9D6;
    transform: scale(1.2);
}