@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400&display=swap');

/* Animaciones */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

/* Estructura principal */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 1px 0;
    margin: 0 auto 0px;
}


/* Logo */
.logo-container img {
    max-width: 400px;
    transition: opacity 0.3s ease;
    opacity: 0.8;
    animation: fadeIn 2s ease-in-out forwards, bounce 1s ease-in-out 2s forwards;
}

.logo-container img:hover {
    opacity: 1;
}


/* Responsive */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding-top: 40px; /* Espacio para la esquina auth */
    }
    
    .logo-container img {
        max-width: 300px;
    }
    

}